- [Path Simulation into a table](#Simulating-path-for-different-symbols-into-a-table)
    - [Using adverbs for many path(s) simulation](#Many-path-simulation-using-adverbs)
    - [Generating a table](#Generating-a-table)
    - [Putting it all tgt](#Finalie:-putting-all-together-and-creating-a-table)
- [Attributes](#Attributes)
    - [Introduction](#Attributes-basic)
    - [The sort attribute \`s](#Sort-Attribute)
        - [Doesn't cost memory, binary search](#Binary-search)
        - [Sorting Tables](#Sorting-Tables)
    - [The rest of Attributes(memories needed)](#Rest-of-Attributes)
    - [The Unique attribute \`u](#Unique-attribute)
        - [Index-Apply, @-operatoar, this applies to ALL ATTRIBUTES](#Index-Apply,@-operator)
        - [Hasing a q dictionary to make it pythong dictionary](#Applying-unique-to-dictionary-key-make-it-truly-python-dictionary)
    - [The Partition attribute \`p](#Partition-Attribute)
    - [The Group Attribute \`g](#Group-Attribute)
- [How query work and how to optimize query based on attribute](#Optimizing-query)

In [1]:
system "l qtips/util.q"
system "l qtips/sim.q"
system "l qtips/stat.q"

# Simulating path for different symbols into a table
## Many path simulation using adverbs

In [2]:
show dt:.util.rng[1;2001.01.01;2002.01.01]
100 * .sim.path[;.05;dt%365.25] each 4?1f //running for different volatility
(4?100) *\:.sim.path[.3;.05] dt%365.25 //running for 4 different starting stock prices
flip *[4?100] each .sim.path[.3;.05] dt%365.25 //flip of above, yyy
.sim.path[.3;.05;dt%365.25]*/:4?100 //same as above

2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01.07 ..

100 99.60649 100.0606 100.6185 103.1832 102.4524 101.743  98.28538 102.0385 1..
100 102.6424 104.6078 107.0357 105.7365 103.7757 104.6683 107.4583 106.7366 1..
100 103.9796 110.9127 115.7124 121.7422 118.9225 132.165  136.0676 124.9609 1..
100 101.4057 101.9946 101.6875 100.8562 102.186  101.3456 101.6848 102.2907 1..

71 70.74873 68.40532 66.35008 66.13724 67.49015 66.55713 66.70249 67.6267  66..
51 50.81951 49.13622 47.65991 47.50703 48.47884 47.80865 47.91306 48.57693 47..
17 16.93984 16.37874 15.88664 15.83568 16.15961 15.93622 15.97102 16.19231 15..
73 72.74165 70.33223 68.21909 68.00026 69.39129 68.43198 68.58144 69.53168 68..

76 75.08739 76.89137 77.32267 79.05748 81.15346 81.1392  82.13347 82.18542 84..
38 37.54369 38.44569 38.66134 39.52874 40.57673 40.5696  41.06673 41.09271 42..
66 65.20747 66.77409 67.14864 68.65518 70.47538 70.46299 71.32643 71.37154 73..
34 33.59173 34.39877 34.59172 35.36782 36.3055  36.29911 36.74392 36.76716 37..

63 62.83375 64.4008  64.21111 66.35626 65.70915 64.70225 65.95787 66.24118 64..
93 92.75459 95.06784 94.78783 97.95448 96.99922 95.51285 97.36638 97.7846  95..
72 71.81    73.60091 73.38413 75.83573 75.09617 73.94543 75.38043 75.70421 74..
22 21.94195 22.48917 22.42293 23.17203 22.94605 22.59444 23.03291 23.13184 22..

In [16]:
100*.sim.path[;;dt%365.25]'[4?.5f;4?.2] //running four different path with different mean and variance
100*(4?.5f).sim.path[;;dt%365.25]'4?.2 //if we use ' adverb, for binary function can use x f' y instead of f'[x;y]

100 95.8186  91.66538 89.88349 91.52997 91.55524 88.80695 86.49372 86.69652 8..
100 100.0839 98.97854 98.28987 98.42714 99.87087 99.33454 99.54408 98.70428 1..
100 99.75271 100.1135 100.1173 100.1624 100.1115 100.0595 99.68587 99.33417 9..
100 98.0912  97.22219 96.69273 97.38031 97.0199  96.99662 95.56029 97.48227 9..

100 99.00176 99.26184 100.2123 99.44085 99.82198 100.6217 100.0202 99.18872 9..
100 99.10378 99.98887 100.9797 100.8107 101.3917 100.708  100.4029 99.90281 9..
100 105.237  106.5451 110.085  113.268  114.1026 116.1285 120.0737 124.6833 1..
100 101.6031 102.5257 103.9812 108.5024 108.4186 107.3093 107.6362 107.9267 1..

## Generating a table

In [3]:
n:10;
p:(n?100)*(n?1f) .sim.path[;;dt%365.25]' n?.1 //10 security, with 10 diferent starting point, 10 different volatility, 10 return
show t:([]id:til n;date:n#enlist dt;price:p)
ungroup t //similar to raze? if equal number of date and price, will make sure 1 id, 1 date 1 price

id date                                                                      ..
-----------------------------------------------------------------------------..
0  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...
1  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...
2  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...
3  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...
4  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...
5  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...
6  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...
7  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...
8  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...
9  2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.06 2001.01...

id date       price
----------------------
0  2001.01.01 91
0  2001.01.02 91.16153
0  2001.01.03 94.07292
0  2001.01.04 88.01806
0  2001.01.05 91.52637
0  2001.01.06 90.72591
0  2001.01.07 88.78336
0  2001.01.08 94.62853
0  2001.01.09 98.13645
0  2001.01.10 108.6298
0  2001.01.11 112.8646
0  2001.01.12 106.5435
0  2001.01.13 100.4122
0  2001.01.14 101.3917
0  2001.01.15 101.5999
0  2001.01.16 96.77371
0  2001.01.17 101.4076
0  2001.01.18 94.46252
0  2001.01.19 98.24121
0  2001.01.20 103.527
..

In [4]:
genp:{[id;S;s;r;dtm]
 t:abs type dtm;
 tm:("np" t in 12 14 15h)$dtm; //timestamp date datetime will cast to "p" -->timestamp, else case to "n" timespan
 p:S*path[s;r;tm%365D06]; //Stock starting price *path
 c:`id,`time`date[t=14h],`price; //columns name, if 0choose time, if 1 choose date
 p:flip c!(id;dtm;p); //flip dictionary to be table
 p}

In [5]:
5#.sim.genp[0;100;.3;.03] .util.rng[1;2000.01.01;2001.01.01] //generating for daily data

id date       price
----------------------
0  2000.01.01 100
0  2000.01.02 103.5
0  2000.01.03 102.5442
0  2000.01.04 102.3235
0  2000.01.05 102.9763

In [6]:
5#.sim.genp[0;100;.3;.03] .util.rng[1;09:00;16:00] //generating for minute data, see how column name change

id time  price
-----------------
0  09:00 100
0  09:01 100.0265
0  09:02 99.97448
0  09:03 99.98156
0  09:04 99.99573

## Finalie: putting all together and creating a table

In [7]:
n:10;dts:.util.rng[1;2000.01.01;2001.01.01];
.sim.genp[;;;;dts]'[til n;n?100;n?.3;n?.07] //this is a list of 10 tables //raze reduce one layer of nesting
//raze start with empty list (), x 0 , x 1, .....

+`id`date`price!(0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ..
+`id`date`price!(1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 ..
+`id`date`price!(2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 ..
+`id`date`price!(3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 ..
+`id`date`price!(4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 ..
+`id`date`price!(5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 ..
+`id`date`price!(6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 ..
+`id`date`price!(7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 ..
+`id`date`price!(8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 ..
+`id`date`price!(9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 ..

In [8]:
2!raze .sim.genp[;;;;dts]'[til n;n?100;n?.3;n?.07] //keying the table, suppose to do after razing

id date      | price
-------------| --------
0  2000.01.01| 40
0  2000.01.02| 39.80801
0  2000.01.03| 39.87907
0  2000.01.04| 39.84628
0  2000.01.05| 39.83921
0  2000.01.06| 39.60324
0  2000.01.07| 39.27849
0  2000.01.08| 39.07609
0  2000.01.09| 39.04476
0  2000.01.10| 38.98655
0  2000.01.11| 38.69436
0  2000.01.12| 38.9584
0  2000.01.13| 39.02865
0  2000.01.14| 39.00942
0  2000.01.15| 38.96701
0  2000.01.16| 38.93442
0  2000.01.17| 38.86379
0  2000.01.18| 38.99949
0  2000.01.19| 39.29227
0  2000.01.20| 39.48125
..

# Attributes
By default, q will use a linear search, however, if the legnth of list grow, it will not be efficient. the above data set has 3650 data points. We can use other searching mechanism if proper attribute is placed
* Binary Search (sorted data)
* Hashing algorithm (unique, grouped, partitioned data)  
The different attributes are: **sorted,unqiue,parted, grouped**  
We apply attribute using #, instead of using a number(it means take), we use a symbol (first letter of the different attribute to apply

## Attributes basic

In [9]:
x:`s#til 5
x
attr x //return attribute of x
attr () //if no attribute will return empty symbol
`#x //null symbol means removing attribute

`s#0 1 2 3 4

`s

`

0 1 2 3 4

## Sort Attribute

In [9]:
`s#reverse til 4 //applying sorted to non-ascending list will cause attribute to fail

s-fail: s-fail

In [10]:
asc 5 2 1 3 2 //calling asc will automaticlly apply sorted attribute to list

`s#1 2 2 3 5

Adding sorted attribute adds no memory overhead
"?": find, if a list is passed as the left operand, it will search that list for y

In [11]:
x:til 100000000
\t x? last x

99

In [12]:
s:`s#x
\t s? last x

0

In [13]:
x //Note that even though we did not assign x back, it is "sorted" too. q automatically do this as there is no memory overhead

`s#0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 ..

In [14]:
//due to applying sort attribute being in-placed, we do not need to even store it in new variable
`s#x:1 2 3 4

`s#1 2 3 4

### Binary search
We can force a binary search even without the sorted attribute.  
The **bin** operation is slightly different, it returns the largest index that is <= the actual number  
The **binr** operation returns index that is >= the actual number

In [15]:
2*til 8
(2*til 8) bin 13
(2*til 8) binr 13

0 2 4 6 8 10 12 14

6

7

### Sorting Tables
**xasc** two arguements, x: list of columns(or one column), y: table  
automatically put x 0 (or x) with sorted attribute

In [16]:
n:1000;dts:.util.rng[1;2000.01.01;2005.01.01];
t:2!raze .sim.genp[;;;;dts]'[til n;n?100;n?.3;n?.07] //keying the table, suppose to do after razing
0N!`id`date xasc t //we can see sorted attribute applied to id //note that this is not in place
//to make it in place do backtick table

(+`id`date!(`s#0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ..

id date      | price
-------------| --------
0  2000.01.01| 72
0  2000.01.02| 72.3129
0  2000.01.03| 72.52072
0  2000.01.04| 72.00876
0  2000.01.05| 71.33128
0  2000.01.06| 71.33287
0  2000.01.07| 70.72105
0  2000.01.08| 70.42016
0  2000.01.09| 70.31312
0  2000.01.10| 70.29542
0  2000.01.11| 70.39729
0  2000.01.12| 70.22473
0  2000.01.13| 70.15744
0  2000.01.14| 70.6191
0  2000.01.15| 70.67955
0  2000.01.16| 71.00712
0  2000.01.17| 70.98353
0  2000.01.18| 71.10379
0  2000.01.19| 70.79851
0  2000.01.20| 70.509
..

In [17]:
meta `id`date xasc t

c    | t f a
-----| -----
id   | j   s
date | d
price| f

timing multiple times
* \t:n
* \ts:n time and space

In [18]:
\t:100 t`id`date!(999;2005.01.01)

285

In [19]:
`id`date xasc `t; //sorted in place //note that if sort tables within function this will not work, unless we return t
\t:100 t`id`date!(999;2005.01.01)

0

## Rest of attributes
Sort attribute is only good for data with high number of distinct values. if there's a lot of repeated values (like in our example) we should use other attribute  
Everything below are hash
* unique (map results to single index)
* grouped (map results to single index and count of it)
* partitioned (list of index)

## Unique attribute
strictest attributed, must be unique, but fastest algorithm

In [24]:
`u#0 0

u-fail: u-fail

In [21]:
t2:select from t where id=0 //this will make dates unique //since only 1 id, threw away all other ids
5#t2: `date xkey t2 //keying only 1 col

date      | id price
----------| -----------
2000.01.01| 0  72
2000.01.02| 0  72.3129
2000.01.03| 0  72.52072
2000.01.04| 0  72.00876
2000.01.05| 0  71.33128

In [22]:
(t2:0!t2)`date //we need to unkey the table before applying attribute //select the list

2000.01.01 2000.01.02 2000.01.03 2000.01.04 2000.01.05 2000.01.06 2000.01.07 ..

In [23]:
t2[`date]:`u#t2`date //unique attribute applied to t2
meta t2

c    | t f a
-----| -----
date | d   u
id   | j
price| f

### Index Apply,@ operator

In [24]:
//version 1, two arguement
@[t2;`date] //calling t2[`date]

`u#2000.01.01 2000.01.02 2000.01.03 2000.01.04 2000.01.05 2000.01.06 2000.01...

In [33]:
//version 2, three arguement, third arguement monoadic function f, @[t;col;f] === f[t[col]]
5#t2:@[t2;`date;`#] //removing attribute and assinging back to t2
meta value @[`t2;`date;`u#] //first arguement symbol => in-placed, not creating a copy //@ will return `t2 in this case

date       id price
----------------------
2000.01.01 0  72
2000.01.02 0  72.3129
2000.01.03 0  72.52072
2000.01.04 0  72.00876
2000.01.05 0  71.33128

c    | t f a
-----| -----
date | d   u
id   | j
price| f

In [39]:
//version 3, four aeguement, dyadic function @[t;x;f;y] ==> f[t[x];y]
5#@[t2;`price;%;100] //not in-placed without backtick

date       id price
-----------------------
2000.01.01 0  0.72
2000.01.02 0  0.723129
2000.01.03 0  0.7252072
2000.01.04 0  0.7200876
2000.01.05 0  0.7133128

### Applying unique to dictionary key make it truly python dictionary

In [7]:
//M1 unique list join list
show m1:10?`3
show m2:10?10
0N!d:@[`u#;m1]!m2

`eae`oco`khd`dga`eob`iog`edg`kio`gme`iko
2 8 3 4 1 6 4 4 2 2
`u#`eae`oco`khd`dga`eob`iog`edg`kio`gme`iko!2 8 3 4 1 6 4 4 2 2

eae| 2
oco| 8
khd| 3
dga| 4
eob| 1
iog| 6
edg| 4
kio| 4
gme| 2
iko| 2

In [5]:
//M2, start with an empty and start appending
0N!d1:@[`u#;0#`]!0#1
d1[`peter]:5
0N!d1

(`u#`symbol$())!`long$()

(`u#,`peter)!,5

peter| 5

## Partition Attribute
unique is perfect for dictionary or single column key, but is useless for table with multiple keys  
multi-coumn key, we need use partition `p or group attribute `g  
partition attribute creates a map from unique value to (row index,count), so same value must be tgt  
Sorting is good for creating partition attribute, even though it will have sort attribute, can become faster with partition

n:1000;dts:.util.rng[1;2000.01.01;2010.01.01];
t:raze .sim.genp[;;;;dts]'[til n;n?100;n?.3;n?.07]

In [3]:
//data is currently for 10 years, and 1000 different id/syms
5#t:{x xcols @[;x;`p#] x xasc y}[`date] t //x:`date, y:t, function first 1) sort by x, apply attribute, reorder x in front

date       id price
-------------------
2000.01.01 0  1
2000.01.01 1  25
2000.01.01 2  98
2000.01.01 3  52
2000.01.01 4  74

In [4]:
0N!t; meta t //note that parted is applied to date

+`date`id`price!(`p#2000.01.01 2000.01.01 2000.01.01 2000.01.01 2000.01.01 20..

c    | t f a
-----| -----
date | d   p
id   | j
price| f

## Group Attribute
group attribute creates a map from unique value to a list of index, where the list of index is where the value appear  
This will take significantly additional memory  
Best use in tables that are continuously being updated with new rows  
when new data comes in, q update the internal grouping map, this make each update slower but boost query performance

In [5]:
t:raze .sim.genp[;;;;dts]'[til n;n?100;n?.3;n?.07] //we start again but do not need to sort date to apply group
meta @[t;`date;`g#]

c    | t f a
-----| -----
id   | j
date | d   g
price| f

# Optimizing query
Adding an attribute on the first column of the key allow q to narrow the seach extremely fast  
Once the first column is used to narrow the search, attributes that may exists on the remaining columns are ignored(i.e. linear search for rest of columns)  
it is therefore **extremely important** to make the first column as unique as possible  

An example, if we want to choose whether to key a table by date/id or id/date, the choice depend on frequency of data  
if we only have 2 dates and 10,000 ids, it is better to have id/date,  as after searching(quickly) by id, we only have 2 dates(linear)  

Another FAQ, there's no limit on number of attributes we can apply, does it mean we should apply it to all 1000 columns?  
It will slow down addition of new rows, as each column attribute(other than sort) needs to store more data (index,etc)  
More memory too  

But if the first condition of where clause is attributed, it will increase search speed  

Selecting a subset or deleting rows from tables is not only expensive but also **removes all attributes**. Appending rows that invalidate attributes also removes them.

In [6]:
//.util.sattr
{[t]
 c:first cols t; //name of first col
 a:`g`u 1=n:count keys t; //if key =1 apply unique, else apply group
 t:n!@[;c;a#]0!t; //unkey, apply, key
 t}

{[t]
 c:first cols t;
 a:`g`u 1=n:count keys t;
 t:n!@[;c;a#]0!t;
 t}

In [18]:
show t:flip`a`b`c!"fff"$\:() //apply () into float //basically list of three empty float
meta t

a b c
-----

c| t f a
-| -----
a| f
b| f
c| f

In [19]:
meta .util.sattr t
meta .util.sattr 1!t //don't think very useful as it will fail if a does not have unique value?
meta .util.sattr 2!t

c| t f a
-| -----
a| f   g
b| f
c| f

c| t f a
-| -----
a| f   u
b| f
c| f

c| t f a
-| -----
a| f   g
b| f
c| f

In [21]:
//.util.kasc //this is use to sort a dictionary(there fore keyed table), make keys ascending
{$[`s=attr k:key x;x;(`s#k i)!value[x]i:iasc k]} //see whether does key is ascending, if not, find the index to change order,
//change the order of both key and value, and applying attribute to key

{$[`s=attr k:key x;x;(`s#k i)!value[x]i:iasc k]}