We start off by learning how to generate random dataset between two time, as trade and quotes to not appear on fixed interval

In [1]:
system "l qtips/util.q"
system "l qtips/sim.q"
system "l qtips/stat.q"

# Forming the Quote Table

In [2]:
//.util.randrng
{[n;s;e]s+n?e-s} //number of points, start and end.

{[n;s;e]s+n?e-s}

after generating random points for each symbol, we need to sort them by ascending  
we need to do that for each of the symbols  
In the example below, for each symbol(10 sym), we are generating 1000 random datapoint between 9am-5pm and then sorting each

In [3]:
n:10;
asc each .util.randrng[;0D09;09D17] each n#1000 //generating 1000 points between 9am-5pm for each symbol
{asc .util.randrng[x;0D09;09D17]} each n#1000 //remove multiple each
(asc .util.randrng[;0D09;09D17]@) each n#1000 //composition, the @ make the function expects a single arguement

0D09:29:21.558446288 0D09:38:04.958276152 0D09:59:21.541441082 0D10:24:23.950..
0D09:31:01.985957622 0D09:48:11.992092132 0D10:01:56.390570998 0D10:06:52.560..
0D09:03:41.037706732 0D09:04:10.258335471 0D09:13:17.324824333 0D09:51:19.216..
0D09:12:21.870930790 0D09:50:17.871433496 0D10:01:23.300882577 0D10:13:30.791..
0D09:13:07.991917133 0D09:44:47.695714831 0D09:52:39.908562898 0D10:31:26.031..
0D09:04:23.563379645 0D09:11:56.735091805 0D09:12:41.995035409 0D09:28:03.950..
0D09:12:21.636988520 0D09:20:59.043127298 0D09:48:28.629029989 0D09:49:43.537..
0D09:15:05.394887924 0D09:24:05.889401435 0D10:09:50.892899036 0D10:15:46.441..
0D09:10:37.773191928 0D09:19:25.386235713 0D09:28:23.233784437 0D09:29:31.290..
0D09:11:06.781845688 0D09:41:22.974824309 0D09:41:28.834458589 0D10:00:59.533..

0D09:22:44.136528968 0D09:33:48.329801559 0D09:41:35.471209287 0D10:22:57.442..
0D09:06:56.049054265 0D09:38:12.786705493 0D09:42:07.903193235 0D09:50:09.976..
0D09:12:17.943479418 0D09:17:43.182190060 0D09:41:41.935976743 0D09:47:17.130..
0D09:01:45.896991491 0D09:04:53.230676651 0D09:21:37.962409257 0D10:05:30.307..
0D09:14:14.977700114 0D09:21:21.317210197 0D09:21:32.448994517 0D09:35:49.753..
0D09:43:38.494802713 0D09:55:18.920212984 0D09:58:07.755373120 0D10:11:21.172..
0D09:01:37.617575526 0D09:08:58.282576203 0D09:09:32.779110074 0D09:33:35.902..
0D09:06:00.105496644 0D09:41:20.569499731 0D10:14:30.264092087 0D10:25:20.132..
0D09:05:58.247852325 0D09:07:11.134575605 0D09:14:13.690642118 0D09:30:52.607..
0D09:13:15.375931262 0D09:46:30.331220626 0D10:05:50.977590680 0D10:39:30.536..

0D09:15:48.094797134 0D09:34:16.981158256 0D09:52:49.896733760 0D09:59:17.641..
0D09:20:29.444360733 0D09:22:13.695119619 0D09:28:10.791285037 0D09:30:25.574..
0D09:03:35.392675995 0D09:37:56.293024420 0D09:51:08.843436241 0D09:57:44.034..
0D09:06:34.986552000 0D09:14:41.462368369 0D10:04:29.135534763 0D10:17:49.121..
0D09:26:49.439644217 0D09:31:13.840034008 0D09:53:21.713633537 0D10:13:18.742..
0D09:44:59.144241213 0D10:32:16.592862010 0D10:35:26.693299412 0D10:40:12.171..
0D09:01:36.730434894 0D09:23:07.640780210 0D09:46:58.322432041 0D09:57:23.524..
0D09:23:09.521893858 0D09:23:21.400941610 0D09:37:14.547847509 0D09:52:56.526..
0D09:08:50.949068069 0D09:39:57.971543669 0D09:41:02.585610151 0D09:47:39.613..
0D09:09:47.881153821 0D09:17:48.982493877 0D09:25:17.151671648 0D09:27:01.163..

With the time matrix, we will be able to generate our quotes table

In [4]:
n:10; tms: (asc .util.randrng[;0D09;09D17]@) each n#1000;
show p:raze .sim.genp'[til n;n?100;n?.3;n?.03;tms] //note that is is currently each id first, then asc time

id time                 price
--------------------------------
0  0D09:02:12.776319980 69
0  0D09:26:32.767971754 69.10768
0  0D09:51:04.881813526 69.06698
0  0D10:06:27.911179661 68.76946
0  0D11:08:10.309900045 68.6698
0  0D11:09:17.315960526 68.67202
0  0D11:43:29.928444027 68.80577
0  0D11:46:09.448345899 68.82407
0  0D12:18:38.598639965 68.859
0  0D12:23:12.968800663 68.91704
0  0D12:31:54.445084333 68.88418
0  0D12:44:08.214215040 69.07861
0  0D12:45:19.771072268 69.04712
0  0D12:51:34.027072191 69.16403
0  0D12:55:00.353640317 69.14653
0  0D12:58:39.231793284 69.24125
0  0D12:59:24.691883325 69.27917
0  0D13:03:32.102919816 69.2199
0  0D13:25:36.030104756 69.20555
0  0D13:29:01.149973869 69.18962
..

However, prices are quoted with fixed decimal place, depending on the exchange and price. We will introduce the step function to make the above table more realistic
## Step Function
We will create a step function such that <$5, 0.01, <$10 0.05, etc

In [5]:
k:0n 5 10 25 50 100; v:.01 .05 .1 .25 .5 1
show sf:`s#k!v //applying sort to whole dictionary changes it to a step function //pre-req
0N!sf //notice the double sorted, it's sorted on the key and whole dictionary

   | 0.01
5  | 0.05
10 | 0.1
25 | 0.25
50 | 0.5
100| 1
`s#`s#0n 5 10 25 50 100!0.01 0.05 0.1 0.25 0.5 1

   | 0.01
5  | 0.05
10 | 0.1
25 | 0.25
50 | 0.5
100| 1

In [6]:
//sf will return the value equal or less than it(closest)
sf -5 3 5 7 10 50 51 101f

0.01 0.01 0.05 0.05 0.1 0.5 0.5 1

We now put everything in a function, a function that will input a step function or a single round off element

In [7]:
//.sim.tickrnd
{if[99h=type x;x@:y];(y;x+y:x*floor y%x)} //x: step function or round off number, y:prices, 
//if it is step function, apply it to get round off number and save down to x, after that round off //return 2 lists

{if[99h=type x;x@:y];(y;x+y:x*floor y%x)}

In [8]:
ts:`s#0n 5 50 100!.001 .005 .01 .02;
5#flip `bid`ask!.sim.tickrnd[ts] p `price

bid   ask
-----------
69    69.01
69.1  69.11
69.06 69.07
68.76 68.77
68.66 68.67

## Extending the Table, adding MA5, MA10 to table

In [9]:
w:5 10 20
10#p:p,'flip(`$"MA",/:string w)!w mavg\:p `price //adding three ma into charts 
//we make a mistake here, as id 1 will take average from id 0

id time                 price    MA5      MA10     MA20
-----------------------------------------------------------
0  0D09:02:12.776319980 69       69       69       69
0  0D09:26:32.767971754 69.10768 69.05384 69.05384 69.05384
0  0D09:51:04.881813526 69.06698 69.05822 69.05822 69.05822
0  0D10:06:27.911179661 68.76946 68.98603 68.98603 68.98603
0  0D11:08:10.309900045 68.6698  68.92279 68.92279 68.92279
0  0D11:09:17.315960526 68.67202 68.85719 68.88099 68.88099
0  0D11:43:29.928444027 68.80577 68.79681 68.87025 68.87025
0  0D11:46:09.448345899 68.82407 68.74823 68.86447 68.86447
0  0D12:18:38.598639965 68.859   68.76613 68.86387 68.86387
0  0D12:23:12.968800663 68.91704 68.81558 68.86918 68.86918

## Adding bid and ask size
We just pick a value between 1 and a maximum quote_size(qs) to get bs and as(bid_size, ask_size)

In [10]:
qs:100;
5#p:p,'flip `bs`as!1+count[p]?/:2#qs //generate count p number from 2#qs(1 for bid 1 for ask)

id time                 price    MA5      MA10     MA20     bs as
-----------------------------------------------------------------
0  0D09:02:12.776319980 69       69       69       69       14 75
0  0D09:26:32.767971754 69.10768 69.05384 69.05384 69.05384 88 29
0  0D09:51:04.881813526 69.06698 69.05822 69.05822 69.05822 51 41
0  0D10:06:27.911179661 68.76946 68.98603 68.98603 68.98603 57 26
0  0D11:08:10.309900045 68.6698  68.92279 68.92279 68.92279 45 39

## Combining it all tgt

In [11]:
//.sim.genq
{[ts;qs;p] //generally this functrion normalize price and add bid/ask size
 q:p,'flip `bp`ap!tickrnd[ts] p `price; //normaizing it by step function or just a normalizing factor, adding to table
 q:q,'flip `bs`as!1+count[p]?/:2#qs; //adding bs, as to table
 q:`id`time`bs`bp`ap`as#q; //taking out certain column in the order we want them
 q}

{[ts;qs;p] //generally this functrion normalize price and add bid/ask size
 q:p,'flip `bp`ap!tickrnd[ts] p `price; //normaizing it by step function or j..
 q:q,'flip `bs`as!1+count[p]?/:2#qs; //adding bs, as to table
 q:`id`time`bs`bp`ap`as#q; //taking out certain column in the order we want t..
 q}

# Making the trade table
Generally trade occurs between quote updates, can achieve by aj and wj  
first define delay function between quotes

In [12]:
.sim.delay  //meaning only got 1 trade between quotes
{abs[type x]$x+next deltas[x]*count[x]?1f}

{abs[type x]$x+next deltas[x]*count[x]?1f}

{abs[type x]$x+next deltas[x]*count[x]?1f}

### next/prev/xprev

In [13]:

next til 10 //take next number //try to not use this, look ahead bias
prev til 10 //take before number
5 xprev til 10 //take 5 numbers before
-5 xprev til 10 //Note that xnext does not exist, try not to use this, look ahead bias

1 2 3 4 5 6 7 8 9 0N

0N 0 1 2 3 4 5 6 7 8

0N 0N 0N 0N 0N 0 1 2 3 4

5 6 7 8 9 0N 0N 0N 0N 0N

## Casting between types
All below will round off to nearest whole numer (both up and down)

In [14]:
show x:5?100f
`long$x
"j"$x
7h$x

43.94663 41.1932 75.01595 62.33957 25.33286

44 41 75 62 25

44 41 75 62 25

44 41 75 62 25

### Redefine quotes table
due to mistake aboive

In [15]:
5#q:.sim.genq[ts;qs] p  //this don't have the moving average failure

id time                 bs bp    ap    as
-----------------------------------------
0  0D09:02:12.776319980 23 69    69.01 16
0  0D09:26:32.767971754 23 69.1  69.11 17
0  0D09:51:04.881813526 44 69.06 69.07 71
0  0D10:06:27.911179661 33 68.76 68.77 99
0  0D11:08:10.309900045 14 68.66 68.67 19

In [16]:
//applying a delay to quote
q`time
3#p1:@[q;`time;.sim.delay]
-1#p1 //time value does not exist
reverse p1`time //0N

0D09:02:12.776319980 0D09:26:32.767971754 0D09:51:04.881813526 0D10:06:27.911..

id time                 bs bp    ap    as
-----------------------------------------
0  0D09:13:33.823887720 23 69    69.01 16
0  0D09:28:38.678992245 23 69.1  69.11 17
0  0D09:51:56.402794764 44 69.06 69.07 71

id time bs bp    ap     as
--------------------------
9       29 31.52 31.525 20

0N 9D16:16:05.277166005 9D15:58:24.891781546 9D15:47:49.233482696 9D15:15:01...

In [17]:
//trade occurs a lot lefss frequently than quotes, so we just need to pick a subset of quotes, we define filter to do that
//.sim.filter
{y asc (neg"j"$x*n)?n:count y} //x:percentage to keep, y: original list //sort them back to ascending index //slice

{y asc (neg"j"$x*n)?n:count y}

In [18]:
.sim.filter[.3] -1_@[;`time;.sim.delay] q //applying quote to have delay, dropping last row, and randomly taking 30% of trade

id time                 bs bp    ap    as
------------------------------------------
0  0D09:16:34.659577424 23 69    69.01 16
0  0D09:34:02.955467383 23 69.1  69.11 17
0  0D09:58:50.702694336 44 69.06 69.07 71
0  0D11:41:19.750004914 40 68.67 68.68 69
0  0D12:50:16.239504908 48 69.04 69.05 100
0  0D12:58:12.581458556 63 69.14 69.15 8
0  0D13:01:04.652882441 82 69.27 69.28 43
0  0D13:17:06.983890954 45 69.21 69.22 3
0  0D13:27:01.616741642 58 69.2  69.21 83
0  0D14:04:20.331079990 45 69.05 69.06 98
0  0D15:40:51.929449388 97 68.99 69    1
0  0D15:48:11.955018763 19 68.99 69    81
0  0D16:19:06.862840605 15 69.04 69.05 54
0  0D17:08:12.700199537 97 69.28 69.29 89
0  0D17:30:28.491750242 33 69.21 69.22 20
0  0D18:11:38.443602630 53 69.2  69.21 18
0  0D18:56:01.547201044 77 68.91 68.92 72
0  0D18:56:52.096413641 34 68.94 68.95 51
0  0D19:26:09.743109327 35 68.94 68.95 2
0  0D21:20:23.506746338 48 69.07 69.08 17
..

### Subconciously, we made the same mistake again, we should do a delay for each ID rather than whole table,
This is similar to MA mistake

In [19]:
group q`id //group is a dictionary with key = distinct id, and value = row with those id

0| 0    1    2    3    4    5    6    7    8    9    10   11   12   13   14  ..
1| 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009 1010 1011 1012 1013 1014..
2| 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014..
3| 3000 3001 3002 3003 3004 3005 3006 3007 3008 3009 3010 3011 3012 3013 3014..
4| 4000 4001 4002 4003 4004 4005 4006 4007 4008 4009 4010 4011 4012 4013 4014..
5| 5000 5001 5002 5003 5004 5005 5006 5007 5008 5009 5010 5011 5012 5013 5014..
6| 6000 6001 6002 6003 6004 6005 6006 6007 6008 6009 6010 6011 6012 6013 6014..
7| 7000 7001 7002 7003 7004 7005 7006 7007 7008 7009 7010 7011 7012 7013 7014..
8| 8000 8001 8002 8003 8004 8005 8006 8007 8008 8009 8010 8011 8012 8013 8014..
9| 9000 9001 9002 9003 9004 9005 9006 9007 9008 9009 9010 9011 9012 9013 9014..

In [20]:
q group q`id //dictionary of tables, remember we need raze to get back table

0| +`id`time`bs`bp`ap`as!(0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0..
1| +`id`time`bs`bp`ap`as!(1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1..
2| +`id`time`bs`bp`ap`as!(2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2..
3| +`id`time`bs`bp`ap`as!(3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3..
4| +`id`time`bs`bp`ap`as!(4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4..
5| +`id`time`bs`bp`ap`as!(5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5..
6| +`id`time`bs`bp`ap`as!(6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6 6..
7| +`id`time`bs`bp`ap`as!(7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7 7..
8| +`id`time`bs`bp`ap`as!(8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8 8..
9| +`id`time`bs`bp`ap`as!(9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9 9..

In [21]:
//generate trade without filter
raze (-1_@[;`time;.sim.delay]@) each q group q`id //note 2 "@" here, the right @ will supress calculation
//we are putting one table into this bracket function

id time                 bs bp    ap    as
------------------------------------------
0  0D09:10:01.946886746 23 69    69.01 16
0  0D09:39:44.455713762 23 69.1  69.11 17
0  0D09:57:12.492160735 44 69.06 69.07 71
0  0D10:29:18.083028867 33 68.76 68.77 99
0  0D11:08:36.754360450 14 68.66 68.67 19
0  0D11:14:19.806118557 40 68.67 68.68 69
0  0D11:45:30.734824973 52 68.8  68.81 47
0  0D11:47:23.634616575 53 68.82 68.83 53
0  0D12:20:00.368882532 96 68.85 68.86 40
0  0D12:27:34.232595687 7  68.91 68.92 15
0  0D12:42:54.002959727 66 68.88 68.89 65
0  0D12:45:08.987861928 60 69.07 69.08 40
0  0D12:48:02.191388733 48 69.04 69.05 100
0  0D12:51:56.518318441 99 69.16 69.17 73
0  0D12:57:17.512033711 63 69.14 69.15 8
0  0D12:58:41.296811625 82 69.24 69.25 95
0  0D12:59:54.766639676 82 69.27 69.28 43
0  0D13:18:10.580847863 45 69.21 69.22 3
0  0D13:25:46.605476826 58 69.2  69.21 83
0  0D13:50:33.899583665 21 69.18 69.19 65
..

In [22]:
//the following results is same as above, however, this time we are putting a list of row id into bracket
//however by bringing just the index inside instead of table, we prevent a potentially large allocation of temporary memory
raze (-1_@[;`time;.sim.delay] q@) each group q`id

id time                 bs bp    ap    as
------------------------------------------
0  0D09:06:06.543083999 23 69    69.01 16
0  0D09:41:12.874420720 23 69.1  69.11 17
0  0D10:00:31.114089911 44 69.06 69.07 71
0  0D11:04:16.651339267 33 68.76 68.77 99
0  0D11:08:25.014680243 14 68.66 68.67 19
0  0D11:24:32.688497522 40 68.67 68.68 69
0  0D11:45:01.478327513 52 68.8  68.81 47
0  0D12:08:50.709462972 53 68.82 68.83 53
0  0D12:21:55.072837488 96 68.85 68.86 40
0  0D12:24:28.493945597 7  68.91 68.92 15
0  0D12:35:32.865800808 66 68.88 68.89 65
0  0D12:44:50.210457286 60 69.07 69.08 40
0  0D12:49:28.907804412 48 69.04 69.05 100
0  0D12:54:29.912280419 99 69.16 69.17 73
0  0D12:56:51.434054830 63 69.14 69.15 8
0  0D12:59:22.648340971 82 69.24 69.25 95
0  0D13:03:01.713389425 82 69.27 69.28 43
0  0D13:14:55.563849780 45 69.21 69.22 3
0  0D13:26:16.958538355 58 69.2  69.21 83
0  0D13:40:37.895089994 21 69.18 69.19 65
..

In [23]:
// now we want to know whether the trade is buy or sell //and what percentage of the bid and ask it is
//.sim.trd
{[b;pct;bs;bp;ap;as](ceiling pct*?[b;bs;as];?[b;bp;ap])} //return (size;price) "?" is vector if else

{[b;pct;bs;bp;ap;as](ceiling pct*?[b;bs;as];?[b;bp;ap])}

In [39]:
n:10000;
.sim.trd[n?0b;n?1f] . (q`bs`bp`ap`as) //size and price

8  17   14    37    9     2     46   9     40    3     29    12    11    49  ..
69 69.1 69.07 68.77 68.67 68.68 68.8 68.82 68.85 68.91 68.88 69.07 69.04 69.1..

In [41]:
//we these we need to combine with our original table
t:q,' flip `ts`tp!.sim.trd[n?0b;n?1f] . (q`bs`bp`ap`as)

In [42]:
//.sim.gent //combine filtering and trade generation and size price
{[pct;q]
 q:filter[pct] raze (-1_@[;`time;delay] q@) each group q `id;
 t:q,' flip `ts`tp!trd[n?0b;(n:count q)?1f] . q `bs`bp`ap`as;
 t:`id`time`ts`tp#t;
 t}

{[pct;q]
 q:filter[pct] raze (-1_@[;`time;delay] q@) each group q `id;
 t:q,' flip `ts`tp!trd[n?0b;(n:count q)?1f] . q `bs`bp`ap`as;
 t:`id`time`ts`tp#t;
 t}