Content Page?
- [Nulls and Infinity](#Nulls-and-Infinity)
    - [operations on null](#Benefits-of-using-null-and-infinities)
    - [Filling nulls](#Handling-Nulls)
- [Temporal Data](#Temporal-Data)
    - [Date](#Date)
    - [Time](#Time)
    - [Both date & Time](#Date-and-Time-together)
- [Dictionary](#Dictionary)
    - [Creating a Dictionary](#Creating-a-dictionary)
    - [Splitting a Dictionary](#Splitting-Dictionary-into-2-lists)
    - [Accessing a value in the dictionary](#Dictionary-Lookup-and-accessing-value)
    - [Subset of dictionary](#Subset-of-dictionary)
    - [Amending a dictionary](#Amending-a-dictionary)
    - [Appending more key-value pairs to a dictionary](#Appending-to-a-dictionary)
    - [Applying functions to lists into dictionary](#List-functions-on-dictionaries)
- [Tables](#Tables)
    - [Representation of tables](#Representation)
        - [1.Flipped column Dictionary](#1.-Flipped-(column-Dictionary-OR-dictionary-of-list))
        - [2.List of Dictionaries](#2.-List-of-dictionary)
        - [3. Collection of lists of equal length](#3.-Collection-of-lists-of-equal-length)
    - [Manipulation of tables](#Table-manipulation)
        - [getting name of columns and the whole column(with values)](#Getting-Columns-names-or-whole-columns)
        - [Reordering Columns](#Reordering-columns)
        - [Adding New col(s) using ,'](#Adding-new-col)
- [Keyed Tables](#keyed-tables)
    - [Declaring a key table](#Declaring-a-key-table)
        - [Method 1:Declaring it directly when making a table](#Method-1:-declare-it-directly)
        - [Method 2:Transform from an existing normal table](#Method-2:-transform-an-existing-table)
    - [Unkeying a table (i.e. back to normal table)](#Unkeying-table)
    - [Representation and Indexing keyed tables (wow, it's actually a dictionary of 2 tables)](#Representation-and-Indexing-of-keyed-tables)

# Nulls and Infinity
Ascending Order: 0N, -0W, 0W //this are all long  
For other types, we need to add 0Wi //integers, add i behind  
boolean and byte got no null or infinity  
Note that: 0N is long while 0n is float

In [13]:
0W + -1+til 5 //bigest number , 0W , Null(go one round), -0W, smallest number
0Wh + (-1) //biggest short

9223372036854775806 0W 0N -0W -9223372036854775806

32766

## Benefits of using null and infinities

In [14]:
//atomic operation propagate null values
1+1 2 0N
//aggregate function tend to ignore them
avg 1 2 0N
//average of matrix (2d list) do not ignore them, it propagates
avg (1 2 0N;3 0N 5)

2 3 0N

1.5

2 0n 0n

## Handling Nulls
either dyadic fill operator **\^**  OR monadic **fills** operator

In [16]:
0 1^ (1 2 0N;3 0N 0N) //first list fill 0, seocnd list fill 1

1 2 0
3 1 1

In [20]:
fills 0N!0N,,[til 5;0N] //fill with previous value

0N 0 1 2 3 4 0N

0N 0 1 2 3 4 4

# Temporal Data
All are integers except for datetime(do not use)
## Date
* YYY.MM.DD
* start from 2000.01.01 (integer 0), Saturday (if mod 7, 0 and 1 are weekends)
* .z.D (today local Date), .z.d (today GMT date)

In [1]:
"i"$2000.01.01
2000.01.01 +til 5
wday:{x where 1<x mod 7}; wday 2000.01.01 + til 10

0i

2000.01.01 2000.01.02 2000.01.03 2000.01.04 2000.01.05

2000.01.03 2000.01.04 2000.01.05 2000.01.06 2000.01.07 2000.01.10

In [4]:
.z.D
.z.d

2020.03.23

2020.03.22

## Time
There are many different precision, all are 4-byte except nanosecond is 8-byte  
integer 0 is the smallest precision of each
* minute
* second
* millisecond
* nanosecond (timespan) //NOTE: THIS IS NOT DATE TIME
### current time
* millisecond
    * .z.T(local), .z.t(GMT)
* nanoseconds (timespan)
    * .z.N(local) .z.n(GMT)

In [11]:
(00:00;00:00:00;00:00:00.000;0D;00:00:00.000000000) +\: til 3 //0D can be represented by a 9 "zero" precision or anything with 0D

00:00                00:01                00:02
00:00:00             00:00:01             00:00:02
00:00:00.000         00:00:00.001         00:00:00.002
0D00:00:00.000000000 0D00:00:00.000000001 0D00:00:00.000000002
0D00:00:00.000000000 0D00:00:00.000000001 0D00:00:00.000000002

In [15]:
0D00:30*til 3 //flexibility of timespan //30 min interval

0D00:00:00.000000000 0D00:30:00.000000000 0D01:00:00.000000000

## Date and Time together
* datetime (Old, DO NOT USE)
    * Stored as double, 1.5 means 1.5 D from 2001.01.01
    * Display as millisecond but actual precision is nano(double)
    * .z.Z (local) .z.z(GMT)
* timestamps (New, integer)
    * integer: nanosecond from 2001.01.01
    * .z.P (local) .z.p(GMT)

In [24]:
.z.Z - 1.5
.z.P - 1.5 //first is an integer, minus a float, .z.P needs to interact with "integers"

2020.03.21T12:42:23.445

6.382393e+017

In [1]:
(.z.P+1)-.z.P

0D00:00:00.000001001

# Dictionary
In kdb, dictionary is not a hash table, it is two list of equal length joint tgt by !  
Creating a dictionary is constant time operation, dictionary is actually not created but reference  
it is reference till either key or value is modified
## Creating a dictionary

In [1]:
show ages:`john`steve`rachel!20 31 22

john  | 20
steve | 31
rachel| 22

In [7]:
x:2000.01.01 +til 10;p:10?1f; -16!p
d:x!p; -16!p  //amending p will cause reference to it to drop back to 1, but x remains

1i

2i

In [11]:
show pairs:((2000.01.01;100f);(2000.01.02;101f);(2000.01.03;99f));flip pairs
show dict: (!) . flip pairs

2000.01.01 100f
2000.01.02 101f
2000.01.03 99f

2000.01.01 2000.01.02 2000.01.03
100        101        99

2000.01.01| 100
2000.01.02| 101
2000.01.03| 99

## Splitting Dictionary into 2 lists

In [8]:
key ages
value ages

`john`steve`rachel`tom`brian

18 31 25 35 27

## Dictionary Lookup and accessing value

In [2]:
ages `john //like list lookup, square brackets are optional
ages[`john]
ages`john`rachel

20

20

20 22

## Subset of dictionary

In [15]:
2000.01.03 2000.01.04#d 
(1#2000.01.09)#d  //to take out single element, need enlist

2000.01.03| 0.08388858
2000.01.04| 0.1959907

2000.01.09| 0.2296615

## Amending a dictionary
Again, it is similar to a list

In [3]:
ages[`rachel]:25          // set a value
ages[`john]-:1            // decrement a value
ages                      // check changes

john  | 18
steve | 31
rachel| 25

## Appending to a dictionary
Either we use the amend method above, or join using the , operator  
joining the dictionary will overwrite common keys, and append new keys

In [5]:
ages[`tom]:35                         // the amend method
ages,:enlist[`brian]!enlist 27         // join method. I use enlist here to turn atoms into singletons
ages

john  | 18
steve | 31
rachel| 25
tom   | 35
brian | 27

## List functions on dictionaries
Well, dictionaries are basically expansion of lists, functions works on list work on dictionaries as well

In [17]:
reverse d //reverse them like list
2#d  //take out like list
system "l qtips/util.q"
.util.rnd[0.01]d  //apply list function to value
sum d //applying aggregating function //note will not be dictionary

2000.01.10| 0.6919531
2000.01.09| 0.2296615
2000.01.08| 0.6916099
2000.01.07| 0.5294808
2000.01.06| 0.6137452
2000.01.05| 0.375638
2000.01.04| 0.1959907
2000.01.03| 0.08388858
2000.01.02| 0.5785203
2000.01.01| 0.4931835

2000.01.01| 0.4931835
2000.01.02| 0.5785203

2000.01.01| 0.49
2000.01.02| 0.58
2000.01.03| 0.08
2000.01.04| 0.2
2000.01.05| 0.38
2000.01.06| 0.61
2000.01.07| 0.53
2000.01.08| 0.69
2000.01.09| 0.23
2000.01.10| 0.69

4.483671

In [19]:
d

2000.01.01| 0.4931835
2000.01.02| 0.5785203
2000.01.03| 0.08388858
2000.01.04| 0.1959907
2000.01.05| 0.375638
2000.01.06| 0.6137452
2000.01.07| 0.5294808
2000.01.08| 0.6916099
2000.01.09| 0.2296615
2000.01.10| 0.6919531

# Tables
to get all tables in namespace
* \a
* tables`  
To specify a namespace
* \a .namespace
* tables .namespace

## Representation
A table is:
1. Flipped column Dictionary
2. List of Dictionaries
3. Collection of lists of equal length

In [1]:
system "l qtips/util.q"
system "l qtips/stat.q"
s:1.3;r:.05;dt:.util.wday 2001.01.01+til 365;tm:deltas[first dt;dt]%365; 
show price: .util.rnd[0.01] .stat.gbm[s;r;tm] .stat.norminv (count dt)?1f

1 1 1 0.98 0.94 0.93 1.05 1 1.04 0.98 0.99 1.01 0.91 0.94 0.98 1.03 1 1.03 0...

### 1. Flipped (column Dictionary OR dictionary of list)
For this to happen, dictionary keys should be all symbols, list shld be equal length

In [2]:
show t:flip d:`id`dt`price!(til count dt;dt;price) //Dictionary with equal length 
//(0;dt;price) will work too, the 0 atom will become vectors of 0 to match the other 2 lengths
d[`price;3]

id dt         price
-------------------
0  2001.01.01 1
1  2001.01.02 1
2  2001.01.03 1
3  2001.01.04 0.98
4  2001.01.05 0.94
5  2001.01.08 0.93
6  2001.01.09 1.05
7  2001.01.10 1
8  2001.01.11 1.04
9  2001.01.12 0.98
10 2001.01.15 0.99
11 2001.01.16 1.01
12 2001.01.17 0.91
13 2001.01.18 0.94
14 2001.01.19 0.98
15 2001.01.22 1.03
16 2001.01.23 1
17 2001.01.24 1.03
18 2001.01.25 0.95
19 2001.01.26 1.03
..

0.98

In [26]:
t 3 //each element is a dictionary, see point 2 below
t[3;`price]
0N!t; //internal representation, note that it is a flip dictionary //+ symbol = flip

id   | 3
dt   | 2001.01.04
price| 0.97

+`id`dt`price!(0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 ..

0.97

### 2. List of dictionary

In [13]:
ls1:enlist `id`dt`price!(0;dt 0;price 0) //an enlisted dictionary //again dictionary keys need to be sym
show ls2:enlist `id`dt`price!(1;dt 1;price 1)
t:ls1,ls2
t 1 //inverse referencing

id dt         price
-------------------
1  2001.01.02 0.94

id dt         price
-------------------
0  2001.01.01 1
1  2001.01.02 0.94

### 3. Collection of lists of equal length

In [3]:
t:([]id:0;date:dt;price:price);
6#t

id date       price
-------------------
0  2001.01.01 1
0  2001.01.02 1
0  2001.01.03 1
0  2001.01.04 0.98
0  2001.01.05 0.94
0  2001.01.08 0.93

In [36]:
id:0; 5#t:([]id;dt;price) //can also not name symbol, if we happy to have variable name as col name

id dt         price
-------------------
0  2001.01.01 1
0  2001.01.02 1
0  2001.01.03 1
0  2001.01.04 0.98
0  2001.01.05 0.94

## Table manipulation
Similar to list, can be reversed, indexed and joined. Treating it as list of dictionary is natural  
All list ordering operation treats table as a list

In [7]:
5#reverse t

id dt         price
-------------------
0  2001.12.31 0.9
0  2001.12.28 1.09
0  2001.12.27 0.97
0  2001.12.26 0.97
0  2001.12.25 1.03

In [10]:
//value modifying operators affect everything
string 5#t
2* 5#t //multiplying everything by 2, (including dates)

id   dt           price
------------------------
,"0" "2001.01.01" ,"1"
,"0" "2001.01.02" ,"1"
,"0" "2001.01.03" ,"1"
,"0" "2001.01.04" "0.98"
,"0" "2001.01.05" "0.94"

id dt         price
-------------------
0  2002.01.02 2
0  2002.01.04 2
0  2002.01.06 2
0  2002.01.08 1.96
0  2002.01.10 1.88

In [18]:
value flip 5#t //three list, value of dictioanry

0          0          0          0          0
2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05
1          1          1          0.98       0.94

### Getting Columns names or whole columns

In [19]:
key flip t //might not work for special tables "keyed tables"
cols t

`id`dt`price

`id`dt`price

In [21]:
`dt`price#5#t //choosing whole column, //we only choose the columns we want in that certain order //can delete columns this way

dt         price
----------------
2001.01.01 1
2001.01.02 1
2001.01.03 1
2001.01.04 0.98
2001.01.05 0.94

In [29]:
t `dt`price`does_not_exist //list of list, same as value flip

2001.01.01 2001.01.02 2001.01.03 2001.01.04 2001.01.05 2001.01.08 2001.01.09 ..
1 1 1 0.98 0.94 0.93 1.05 1 1.04 0.98 0.99 1.01 0.91 0.94 0.98 1.03 1 1.03 0...
`long$()

In [34]:
2#/:5#t //first two columns, we need #/:
-2#/:5#t //last two columns

id dt
-------------
0  2001.01.01
0  2001.01.02
0  2001.01.03
0  2001.01.04
0  2001.01.05

dt         price
----------------
2001.01.01 1
2001.01.02 1
2001.01.03 1
2001.01.04 0.98
2001.01.05 0.94

### Reordering columns

In [39]:
5#t
`dt xcols 5#t //not in placed. need assign back

id dt         price
-------------------
0  2001.01.01 1
0  2001.01.02 1
0  2001.01.03 1
0  2001.01.04 0.98
0  2001.01.05 0.94

dt         id price
-------------------
2001.01.01 0  1
2001.01.02 0  1
2001.01.03 0  1
2001.01.04 0  0.98
2001.01.05 0  0.94

In [43]:
`dt`price xcols 5#t

dt         price id
-------------------
2001.01.01 1     0
2001.01.02 1     0
2001.01.03 1     0
2001.01.04 0.98  0
2001.01.05 0.94  0

### Adding new col

In [12]:
p1:(count t)?1000;p2:(count t)?1000
2#append_table: flip `price1`p2!(p1;p2)
t,'append_table //works for any number of columns, 1 or many

price1 p2
----------
149    763
18     814

id date       price price1 p2
------------------------------
0  2001.01.01 1     149    763
0  2001.01.02 1     18     814
0  2001.01.03 1     457    601
0  2001.01.04 0.98  313    212
0  2001.01.05 0.94  568    301
0  2001.01.08 0.93  816    882
0  2001.01.09 1.05  549    953
0  2001.01.10 1     891    418
0  2001.01.11 1.04  147    10
0  2001.01.12 0.98  962    461
0  2001.01.15 0.99  420    913
0  2001.01.16 1.01  844    816
0  2001.01.17 0.91  318    196
0  2001.01.18 0.94  180    833
0  2001.01.19 0.98  58     386
0  2001.01.22 1.03  355    656
0  2001.01.23 1     927    679
0  2001.01.24 1.03  702    84
0  2001.01.25 0.95  405    85
0  2001.01.26 1.03  762    470
..

# keyed tables
Just like how dictionary allow us to access values by key, a keyed table allow us to access rows by key
## Declaring a key table 
### Method 1: declare it directly
The brackets in table declaration can be used to identify with the table primary key

In [45]:
5#kt:([id:0;date:dt]price:price)

id date      | price
-------------| -----
0  2001.01.01| 1
0  2001.01.02| 1
0  2001.01.03| 1
0  2001.01.04| 0.98
0  2001.01.05| 0.94

### Method 2: transform an existing table
Using ! we can key the first few columns  
Using xkey we can key anyhwere

In [48]:
6#2!t //key first two columns

id dt        | price
-------------| -----
0  2001.01.01| 1
0  2001.01.02| 1
0  2001.01.03| 1
0  2001.01.04| 0.98
0  2001.01.05| 0.94
0  2001.01.08| 0.93

In [49]:
6#2!`dt`price xcols t //change the order and key

dt         price| id
----------------| --
2001.01.01 1    | 0
2001.01.02 1    | 0
2001.01.03 1    | 0
2001.01.04 0.98 | 0
2001.01.05 0.94 | 0
2001.01.08 0.93 | 0

In [50]:
6#`price`dt xkey t //xkey combine xcols and ! together

price dt        | id
----------------| --
1     2001.01.01| 0
1     2001.01.02| 0
1     2001.01.03| 0
0.98  2001.01.04| 0
0.94  2001.01.05| 0
0.93  2001.01.08| 0

## Unkeying table
**0!**

In [53]:
5#kt
5#0!kt //unkeying

id date      | price
-------------| -----
0  2001.01.01| 1
0  2001.01.02| 1
0  2001.01.03| 1
0  2001.01.04| 0.98
0  2001.01.05| 0.94

id date       price
-------------------
0  2001.01.01 1
0  2001.01.02 1
0  2001.01.03 1
0  2001.01.04 0.98
0  2001.01.05 0.94

## Representation and Indexing of keyed tables
keyed tables are dictionaries of tables  
keyed tables: keys are tables, values are tables

In [58]:
kt (0;2001.05.25) //similar to dictionary

price| 0.93

In [74]:
//M1: inefficient, list of list index
show ls: flip (0;2001.05.23 + til 5) //to query multiple record we need a list of list
kt ls //note 26 and 27 are weekends //note that last two are nulls
//flipping list of list is not efficient

0 2001.05.23
0 2001.05.24
0 2001.05.25
0 2001.05.26
0 2001.05.27

price
-----
1.03
1.09
0.93

In [76]:
//M2: table index
kt ([]id:0;date:2001.05.23 + til 5)

price
-----
1.03
1.09
0.93

In [77]:
//keyed tables: keys are tables, values are tables
key 5#kt //a table
value 5#kt //yet another table

id date
-------------
0  2001.01.01
0  2001.01.02
0  2001.01.03
0  2001.01.04
0  2001.01.05

price
-----
1
1
1
0.98
0.94

In [78]:
kt~([]id:0;date:dt)!([]price:price) //we can even define a keyed table as a dictionary of two ordinary tables

1b